.SearchBox{
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Ensures form elements are centered */
    width: 100%; /* This might help control the layout */
}